/* CommunityListComponent.css */

.container-fluid {
  padding: 20px;
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-top: 40px;
 
}
.communityList{
  overflow-y: auto;
  height: 800px;
  color: white;
  background-color: #222;
}
.community-item {
  color: white;
  background-color: #24282d; 
  border: none;
  cursor: pointer;
}
.community-item.normal {
  background-color: #242525; 
  color: white;
  border: none;
}



.community-item.active {
  background-color: #24272a; 
}

.community-item:hover {
  background-color: #292929; 
  color: white;
}

.community-icon {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.community-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat-section {
  background-color: #292d34;
  border-radius: 5px;
  padding: 20px;
}

.chat-title {
  margin-top: 0;
  color: #fff;
}

.chat-messages {
  height: 510px;
  overflow-y: auto;
}

.chat-header {
  display: flex;
  align-items: center;
  background-color: #363839;
  padding: 10px;
  gap: 10px;
}

.chat-title {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-right: 10px;
}

 


.message-image-container {
  position: relative;
}

.message-image {
  width: 200px;
  height: auto;
  cursor: pointer;
  display: flex;
}

.no-image-placeholder {
 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #999;
}

.message-user {
  margin: 0;
  font-weight: bold;
}

.message-text {
  margin: 0;
}
.chat-input {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.message-input {
  flex-grow: 1;
  border-radius: 20px;
  padding: 10px;
  margin-right: 10px;
}
.attachment-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

.attachment-icon:hover {
  background-color: #f1f1f1;
}


.send-button {
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 5px;
}

.attachment-icon:hover,
.send-button:hover {
  background-color: #f1f1f1;
  color: #222;
  
}

.attachment-icon:focus,
.send-button:focus {
  outline: none;
  box-shadow: none;
}

.attachment-icon {
  margin-right: 10px;
}

.send-button {
  color: white;
  background-color: #2c2c2c;
  border-radius: 50%;
}

.send-button:disabled {
  background-color: #adb5bd;
  cursor: not-allowed;
}

.send-button:not(:disabled):hover {
  background-color: #363839;
}

.scroll-to-latest {
  text-align: center;
  margin-top: 10px;
}

.down-arrow {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.down-arrow:hover {
  color: #aaa;
}
.down-arrow i {
  transition: transform 0.3s ease;
}

.down-arrow:hover i {
  transform: scale(1.1);
}




.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.zoomed-image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.message-item {
  display: flex;
  margin-bottom: 10px; 
  margin-right: 10px;
}

.sender .message-item {
  justify-content: flex-end;
 
}

.receiver .message-item {
  justify-content: flex-start;
}

.message-user {
  font-size: 14px;
  margin-bottom: 2px;
}

.sender .message-user {
  color: rgb(247, 247, 247);
}

.receiver .message-user {
  color: rgb(247, 240, 240);
}

.message-text {
  font-size: 16px;
}

.sender .message-text {
  background-color: #188878;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
}

.receiver .message-text {
  background-color: #3c3c3c;
  color: white;
  padding: 8px 12px;
  border-radius: 10px;
}

.communityList::-webkit-scrollbar {
  width: 8px; 
}

.communityList::-webkit-scrollbar-track {
  background-color: #1b1b1b; 
}

.communityList::-webkit-scrollbar-thumb {
  background-color: #454444; 
  border-radius: 4px; 
}

.communityList::-webkit-scrollbar-thumb:hover {
  background-color: #4b4b4b; 
}













