.signup-container-company {
    background-color: rgba(15, 15, 15, 0.992); /* Dark transparent background */
    backdrop-filter: blur(10px);
    color: #c9d1d9;
    height: 100vh;
    display: flex;
    align-items: center;
    
  }
  
  .signup-form-company {
    padding: 30px;
    border-radius: 8px;
    background-image: url('../../assets/bg6.png');
    background-size: cover; /* Set the background image to cover the entire container */
    background-repeat: no-repeat;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    
  }
  
  .darkInput {
    background-color: rgba(13, 17, 23, 0.8); /* Transparent dark background color */
    color: #c9d1d9;
    border: none;
    height: 40px;
    width: 100%;
    padding: 8px;
    display: flex;
    border-radius: 5px;
  }
  
  @media (max-width: 768px) {
    .darkInput {
      width: 100%; 
       height: max-content;
      /* Adjust the width for smaller screens */
    }
    .signup-container {
    background-color: #0d1117;
    color: #c9d1d9;
  
    display: flex;
    align-items: center;
  }
  }
  
  .darkInput:focus {
    outline: none;
    border: 2px solid #0366d6; /* Blue border color */
    box-shadow: 0 0 5px #0366d6; /* Blue box shadow */
  }
  

  
  .btn-dark {
    background-color: #0d1117;
    border-color: #c9d1d9;
    color: #c9d1d9;
  }
  
  .btn-dark:hover {
    background-color: #c9d1d9;
    color: #0d1117;
  }
  
  .fileInputLabel {
    background-color: transparent;
    color: #c9d1d9;
  
    border-radius: 4px;
    cursor: pointer;
  }
  
  .fileInput {
    display: none;
    font-family: 'Exo', sans-serif;
   
  }
  
  .inputsFieldName {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
  }
  
  .sign-up_head {
    font-family: 'Exo', sans-serif;
  }
  
  @media (max-width: 576px) {
    .sign-up_head {
      font-size: 24px;
    }
  }
  
  @media (max-width: 400px) {
    .sign-up_head {
      font-size: 20px;
    }
  }
  .icon-wrapper {
    display: flex;
    justify-content: center; /* Aligns content to the right */
    align-items: center; /* Aligns content to the bottom */
    margin-bottom: 20px;
  }
  
  
  .selected-image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    background-color: #0c67e7;
  }
  
  .selected-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .add_icon
  {
  
    display: flex;
    justify-content: flex-end; /* Aligns content to the right */
    align-items: flex-end; /* Aligns content to the bottom */
    margin-top: 75px;
    font-size: 40px;
  }

  .login-text{
    cursor: pointer;
  }