/* CustomNavbar.css */

/* Adjust distance between each nav item */
.navbar-nav {
  margin-right: 35px; /* Adjust this value to control the horizontal distance */
}

/* Hover effect for navigation items */
.navbar-nav .nav-item .nav-link:hover {
  color: #fff; /* Change the text color on hover */
  background-color: rgba(255, 255, 255, 0.1); /* Change the background color on hover */
  border-radius: 5px; /* Optional: Add a border-radius to create rounded corners on hover */
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

/* Hover effect for the mobile menu items */
.mobile-menu .nav-item .nav-link:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
