/* SecondaryNavBar.css */

.secondary-navbar {
    background-color: rgb(35, 35, 43);
    padding: 6px;
    
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    
  }
  
  .navbar .nav-item {
    margin-left: 10px;
  }
  
  .navbar i {
    font-size: 1.5rem;
    color: #fff;
  }
  
  .navbar a {
    text-decoration: none;
    color: #fff;
  }
  
  .navbar a:hover {
    color: #ccc;
  }
  