/* components/CompanyUpdates.css */

.company-updates-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .heading {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .input-field {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  .add-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sub-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .updates-list {
    list-style: none;
    padding: 0;
  }
  
  .update-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  .update-image {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
  }
  
  .date {
    color: #888;
  }
  .text-area-field{
    background-color: transparent;
  }