.job-post {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #1e1616;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #e1e1e1;
  }
  
  .job-title {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  .job-description {
    font-size: 16px;
    margin-bottom: 12px;
  }
  
  .job-details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
  }
  
  .job-details p {
    font-size: 14px;
    margin: 0;
  }
  .userInfo {
    display: flex;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  
  }
  .userInfo img{
    height: 100px;
    width: 100px;
    border-radius: 10%;
  }
  .userInfo > .col {
    padding: 0 10px;
  }
  .applicant{
    padding: 15px;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .userInfo {
      flex-direction: column;
    }
  
    .userInfo > .col {
      padding: 5px;
    }
  }
  @media (max-width: 767px) {
  .userInfo {
    flex-direction: column;
  }

  .userInfo > .col {
    padding: 5px;
  }

  .applicant img {
    max-width: 100px;
  }

  .applicant h3 {
    font-size: 16px;
  }
}

/* On even smaller screens, reduce the size of the applicant image and name */
@media (max-width: 575px) {
  .applicant img {
    max-width: 80px;
  }

  .applicant h3 {
    font-size: 14px;
  }
}
