/* AppliedJobs.css */
.ParentAppliedJob{
 min-height: 100vh;
 height: auto;
}
.page-title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 28px;
  }
  
  .applied-jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    align-items: center;
   
  }
  
  .applied-job {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #2faaec;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:  #1c1a21;
   
  }
  
  .company-info {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    flex-direction: row;
  }
  
  .company-info img {
    width: 60px;
    height: 60px;
    border-radius: 10%;
    margin-right: 10px;
    box-shadow: 0 0 0 2px #2faaec; 
  }
  
  .company-info .company_Name {
    font-size: 20px;
    align-items: center;
    display: flex;
   padding-top: 15px;
    justify-content: center;
  }
  
  .job-details h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: #2faaec;
  }
  
  .job-details p {
    margin: 0;
    margin-bottom: 5px;
  }
  
  /* Responsive Styles */
  @media (max-width: 767px) {
    .applied-job {
      flex-basis: 100%;
    }
  }
  .group
{
display: flex;
flex-direction: row;

}
 .group i{
  padding-right: 10px;
  color: #556378aa;
}

.duration, .popup-content .salary {
  color: #cdcbcb;

}
/* CurrentCompanyJobPost.css */

/* CSS classes for different job statuses */
.applicant-status {
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  align-items: center;
  justify-content: center;
}
.applicant-status p {
  font-weight: 500;
  font-size: 15px;
  padding: 4px 4px;
}

/* Styles for different job statuses */
.applicant-status.new {
  background-color: rgba(33, 232, 76, 0.76);
  color: rgb(25, 21, 21);
  padding-left: 40px;
  padding-right: 40px;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.applicant-status.shortlisted {
  background-color: rgb(255, 243, 22);
  color: rgb(30, 30, 30);
}

.applicant-status.interview-scheduled {
  background-color: rgb(0, 255, 187);
  color: black;
}

.applicant-status.rejected {
  background-color: rgb(246, 67, 67);
  color: rgb(255, 255, 255);
  padding-left: 30px;
  padding-right: 30px;
}
.start_point p{
  border: 1px solid #157da7;
  border-radius: 5px;
  width: max-content;
  padding: 5px;
}