/* CurrentUserPosts.css */

.post-list {
  margin: 20px;
 overflow-y: hidden;
 height: 560px;
}

.post-list h1 {
  text-align: center;
  margin-bottom: 20px;
}

.post-list-scrollable {
  max-height: 490px;
  overflow-y: auto;
  overflow-x: hidden;
}

.post-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.post-item {

  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
}

.post-image {
  cursor: pointer;
  overflow: hidden; /* Hide any overflowing content */
  height: 190px;
  width: 280px; 
  align-items: center;
  justify-content: space-between;
  /* Set a fixed height for the image container */
}

.post-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.post-details {
  padding: 10px;
}
.trash{
  cursor: pointer;
}
.trash :hover{
  cursor: pointer;
  color: red;
  font-size: 20px;
  transition: 0.5s;
}


.post-details p {
  margin: 5px;
  display: inline-block;
}

.post-details button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.post-details button:hover {
  background-color: #2980b9;
}

.post-details p.likes {
  font-weight: bold;
}

.post-details p.comments {
  color: #999;
}

.modal-dialog {
  max-width: 800px;
}

.modal-body {
  text-align: left;
  background-color: #061925;
  color: white;
}

.modal-body img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.modal-body p {
  margin: 5px;
  color: white;
}

/* Customize the scrollbar */
.post-list-scrollable::-webkit-scrollbar {
  width: 8px;
}

.post-list-scrollable::-webkit-scrollbar-thumb {
  background-color: #3a3737;
  border-radius: 5px;
}

.post-list-scrollable::-webkit-scrollbar-thumb:hover {
  background-color: #666666;
  border-radius: 10px;
}

.post-list-scrollable::-webkit-scrollbar-track {
  background-color: #272727;
}
.commentWithName{
  display: flex;
}
.likeWithName{
  display: inline-block; 
}
.likeWithNameSection{
  display: flex;
}
.commentWithNameSection{
  display: inline-block;
}

.profile-pic img {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.my_posts{
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}